pip==23.2.1
backtesting
fredapi
#json
#./libs/MetaTrader5-5.0.45-cp311-cp311-win_amd64.whl
matplotlib
#MetaTrader5
mt5
mplfinance
openpyxl
pandas
pandas_ta
plotly
python-binance
requests
scipy
streamlit
TA-Lib-Precompiled
ta_py
#./libs/TA_Lib-0.4.24-cp310-cp310-win_amd64.whl
#ta-lib==0.4.24
#threading
tradingpattern
websocket_client
world_bank_data
yfinance
